{% extends 'moneyManage/layout.html' %}

{% block title %}index{% endblock %}

{% block content %}
<table class="fixed">
    {% for data in fxed %}
    <tr>
        <td>{{data.content}}</td>
        <td>{{data.price}}</td>
    </tr>
    {% endfor %}
</table>
<table class="expense">
    {% for data in expense %}
    <tr>
        <th>{{data.expense_date}}</th>
        <td>{{data.item}}</td>
        <td>{{data.category}}</td>
        <td>{{data.price}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}